{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}This page must show the attribution form of your project. This includes the work done by each of the student members on your team and any work that was done by people outside of your team, including the host labs, advisors, instructors, and individuals not on the team roster. This requirement is not about literature references - these can and should be displayed throughout your wiki.{% endblock %}

{% block page_content %}

<div class="screen">
  <div id="title">
  <h1 class="heading">
    <span>A</span>
    <span>T</span>
    <span>T</span>
    <span>R</span>
    <span>I</span>
    <span>B</span>
    <span>U</span>
    <span>T</span>
    <span>I</span>
    <span>O</span>
    <span>N</span>
  </h1>
  </div>
  <div class="banner"><img src="https://static.igem.wiki/teams/4927/wiki/banner/attribution.png"></div>
</div>


<!--
  ======================================================================
  == VERY IMPORTANT                                                   ==
  ======================================================================
  LEAVE THE IFRAME CODE BELOW AS IT IS, THE ATTRIBUTION FORM OF YOUR TEAM
  WILL BE DISPLAYED ON THIS PAGE. DO NOT REMOVE IT, OTHERWISE YOU RISK OF
  NOT MEETING BRONZE MEDAL CRITERION #2
 -->
<div class="row mt-4">
  <script type="text/javascript">
    // Listen to size change and update form height
    window.addEventListener('message', function (e) {
      const {type, data} = JSON.parse(e.data);
      if (type === 'igem-attribution-form') {
        const element = document.getElementById('igem-attribution-form')
        element.style.height = data + 50 +'px'
      }
    });
  </script>
  <iframe
    style='width: 100%'
    id="igem-attribution-form"
    src="https://attributions.igem.org?team=HUBU-SKY-China&year=2023"
  >
  </iframe>
  <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

</div>

{% endblock %}
