{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}This page must show the attribution form of your project. This includes the work done by each of the student members on your team and any work that was done by people outside of your team, including the host labs, advisors, instructors, and individuals not on the team roster. This requirement is not about literature references - these can and should be displayed throughout your wiki.{% endblock %}

{% block page_content %}

<div class="screen">
  <div id="title">
  <h1 class="heading">
    <span>C</span>
    <span>O</span>
    <span>M</span>
    <span>M</span>
    <span>U</span>
    <span>N</span>
    <span>I</span>
    <span>C</span>
    <span>A</span>
    <span>T</span>
    <span>I</span>
    <span>O</span>
    <span>N</span>
  </h1>
  </div>
  <div class="banner"><img src="https://static.igem.wiki/teams/4927/wiki/banner/communication.png"></div>
</div>
<div class="article-container">
	<div class="directory">
		<div id="category">
			<div class="article-content"><h2>Content</h2></div>
			<ul>
			</ul>
		</div>
	</div>
	<div class="article-content">
		<h1>Communication</h1>
		<div data-tab="districtName1" class="districtName">
			<section class="markdown">
				<h2 class="data-tab">1. Overview:</h2>
				<p>
					&nbsp&nbsp&nbsp&nbsp In the process of realizing the project, we are not alone, all the igem team is our fellow passers-by, we often communicate together, improve the project together, and our opinions can often push each other's projects forward.
				</p>
			</section>
		</div>
		<div data-tab="districtName2" class="districtName">
			<h2 class="data-tab">2. CCIC Meetings</h2>
			<section class="markdown api-container">
				<p>
					&nbsp&nbsp&nbsp&nbsp When we were still in the project planning stage, we attended the CCIC meeting, during which we learned a lot of igem project experience, which made us quickly familiar with igem, and communicated and cooperated with many teams in the meeting
				</p>
				<img src="https://static.igem.wiki/teams/4927/wiki/communication1/1.png" alt="">
				<p class="figure">Figure1: We have attended CCIC meetings</p>
			</section>
		</div>
		<div data-tab="districtName3" class=" districtName">
			<h2 class="data-tab">3. HBUT-China</h2>
			<div>
				<p>
					&nbsp&nbsp&nbsp&nbsp On June 30, 2023, we held an online project exchange and experience sharing meeting with HBUT-China. Both sides shared the details of the project and the vision of the project. In addition, we had full communication on the progress of human practice implementation, the selection of stakeholders, the establishment of logical framework, the way and purpose of video production, the sharing of visual experience, and the sharing of experience in Wiki construction. In addition, I came to our school for offline communication on July 1, where we cooperated in making videos and exchanged our experience in team management.
				</p>
                <img src="https://static.igem.wiki/teams/4927/wiki/communication1/2.png" alt="">
				<p class="figure">Figure2: Online communication with HUBT-China</p>
			</div>
		</div>
		<div data-tab="districtName4" class=" districtName">
			<h2 class="data-tab">4. 2023 Synthetic Biology Open Conference</h2>
			<div>
				<p>
					&nbsp&nbsp&nbsp&nbsp In order to promote the collision of project ideas, so that iGEMers from all over China can meet face to face and cooperate, we helped organize the 2023 Synthetic Biology Open Conference, and shared the project ideas at the conference. We also organized Mini Jamboree to provide improvement suggestions to various iGEM teams. We were also fortunate to have Yi Xiao, a researcher from Shenzhen Institute of Advanced Research and Technology, Chinese Academy of Sciences, as our guest, who shared his experience and cutting-edge research progress of the synthetic biology competition.
				</p>
				<img src="https://static.igem.wiki/teams/4927/wiki/communication1/3.png" alt="">
				<p class="figure">Figure3: 2023 Synthetic Biology Open Conference</p>
			</div>
		</div>
		<div data-tab="districtName5" class=" districtName">
			<h2 class="data-tab">5. Charity Bazaar</h2>
			<div>
				<p>
					&nbsp&nbsp&nbsp&nbsp In order to support those children who are living in poverty and cannot afford education, Our team cooperated with several teams from Hubei universities and Hubei regions, including HUBU-HUBEI-CHINA, HUBU-WUHAN-CHINA, Hubu-Hubei -China, HUBU-China and HBU-China, to jointly plan and hold a charity bazaar. The event aimed to raise funds for children in need of educational support in a creative and enthusiastic way, while also promoting the IGEM competition as well as synthetic biology knowledge.
				</p>
				<img src="https://static.igem.wiki/teams/4927/wiki/communication1/4.png" alt="">
				<p class="figure">Figure4: Our team's bazaar stall</p>
				<img src="https://static.igem.wiki/teams/4927/wiki/communication1/5.png" alt="">
				<p class="figure">Figure5: Our donation certificate</p>
			</div>
		</div>
		<div data-tab="districtName6" class=" districtName">
			<h2 class="data-tab">6. Help fill out the questionnaire</h2>
			<div>
				<p>
					&nbsp&nbsp&nbsp&nbsp We assisted other igem teams by helping them fill out questionnaires, and communicated with them about the ideas of the project and provided ideas for improvement of the questionnaire and project.
				</p>
				<img src="https://static.igem.wiki/teams/4927/wiki/communication1/6.png" alt="">
				<p class="figure">Figure6: We assist other teams in their investigations and provide suggestions for improvement</p>
			</div>
		</div>
		<div data-tab="districtName7" class=" districtName">
			<h2 class="data-tab">7. Communicate with the Shenzhen University team</h2>
			<div>
				<p>
					&nbsp&nbsp&nbsp&nbsp We communicated with the SZU-China team and exchanged many project details with the main PI of SZU-China, and SZU-China was also very enthusiastic to cooperate and communicate with us.
				</p>
				<img src="https://static.igem.wiki/teams/4927/wiki/communication1/7.png" alt="">
				<p class="figure">Figure7: Chat with the PI of SZU-China</p>
			</div>
		</div>
	</div>

</div>



{% endblock %}
