{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<div class="screen">
  <div class="banner"><img src="https://static.igem.wiki/teams/4927/wiki/headline/hp.jpg"></div>
</div>

<h1 class="heading">
  <span>T</span>
  <span>I</span>
  <span>M</span>
  <span>E</span>
  <span>L</span>
  <span>I</span>
  <span>N</span>
  <span>E</span>
</h1>

<div class="timeline-container" id="timeline-1">
  <div class="timeline">
      <div class="timeline-item" data-text="Click on the image to learn more👈">
        <div class="timeline__content">
          <div class="timeline_img"><img class="timeline__img" id="img1" src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}"/></div>
          
          <h2 class="timeline__content-title">July 2023</h2>
          <p class="timeline__content-desc">
            <p style="font-size: 18px;margin-bottom: 5px;">Interview with Prof. Xu Dabing</p>
            <p>川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄</p>
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="Click on the image to learn more👉">
        <div class="timeline__content">
          <div class="timeline_img"><img class="timeline__img" id="img2" src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}" /></div>
          
          <h2 class="timeline__content-title">July 2023</h2>
          <p class="timeline__content-desc">
            <p style="font-size: 18px;margin-bottom: 5px;">Interview with Prof. Xu Dabing</p>
            <p>川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄</p>
          </p>
          <div class="dialog">
            这里面将会放整理好的图片文字
          </div>
        </div>
      </div>
      <div class="timeline-item" data-text="Click on the image to learn more👈">
        <div class="timeline__content">
          <div class="timeline_img"><img class="timeline__img" id="img3" src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}"/></div>
          
          <h2 class="timeline__content-title">July 2023</h2>
          <p class="timeline__content-desc">
            <p style="font-size: 18px;margin-bottom: 5px;">Interview with Prof. Xu Dabing</p>
            <p>川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄</p>
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="Click on the image to learn more👉">
        <div class="timeline__content">
          <div class="timeline_img"><img class="timeline__img" id="img4" src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}" /></div>
          
          <h2 class="timeline__content-title">July 2023</h2>
          <p class="timeline__content-desc">
            <p style="font-size: 18px;margin-bottom: 5px;">Interview with Prof. Xu Dabing</p>
            <p>川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄</p>
          </p>
          <div class="dialog">
            这里面将会放整理好的图片文字
          </div>
        </div>
      </div>
      <div class="timeline-item" data-text="Click on the image to learn more👈">
        <div class="timeline__content">
          <div class="timeline_img"><img class="timeline__img" id="img5" src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}"/></div>
          
          <h2 class="timeline__content-title">July 2023</h2>
          <p class="timeline__content-desc">
            <p style="font-size: 18px;margin-bottom: 5px;">Interview with Prof. Xu Dabing</p>
            <p>川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄</p>
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="Click on the image to learn more👉">
        <div class="timeline__content">
          <div class="timeline_img"><img class="timeline__img" id="img6" src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}"/></div>
          
          <h2 class="timeline__content-title">July 2023</h2>
          <p class="timeline__content-desc">
            <p style="font-size: 18px;margin-bottom: 5px;">Interview with Prof. Xu Dabing</p>
            <p>川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄川，快加油，不然你就要一直在上面了，自己看着办🙄</p>
          </p>
          <div class="dialog">
            这里面将会放整理好的图片文字
          </div>
        </div>
      </div>

  </div>
</div>

<!-- MODALS -->
<!-- Modal 1 -->
<div class="modal" id="modal1">
  <div class="modal-dialog">
  <div class="modal-content">

      <div class="modal-header">
          <h2 class="modal-title">Interview with Prof. Xu Dabing</h2>
          <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">×</button>
      </div>

      <div class="modal-body">
          <img src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}" class="center" style="width:450px;">
          <br>
          <p>We went through several brainstorming sessions where we discussed local problems that affected real people and real-life situations. Needs finding is a long and profound process. During these sessions we talked with our advisors as well as other researchers in our university.</p>
          <p>Some of the discussed topics were:</p>
          <dl class="row">
              <dt class="col-sm-4">Lindane detection with a biosensor</dt>
              <dd class="col-sm-8">A bioremediation approach to detect lindane insecticide levels in water so as to know if it is safe to be consumed by humans.</dd>
              <dt class="col-sm-4">Non-invasive early diagnosis of melanoma</dt>
              <dd class="col-sm-8">An approach contemplating the design of a microneedle array capable of detecting specific miRNA overexpressed in melanomas in the skin interstitial liquid.</dd>
              <dt class="col-sm-4">Phtalates detection with a biosensor</dt>
              <dd class="col-sm-8">Phtalates is a composite present in the air near industrial areas which is potentially damaging for the human body. The aim of this approach was to degrade phtalates into some innocuous molecules.</dd>
          </dl>
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal()">Close</button>
      </div>    
  </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal" id="modal2">
  <div class="modal-dialog">
  <div class="modal-content">

      <div class="modal-header">
          <h2 class="modal-title">First brainstorming sessions</h2>
          <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">×</button>
      </div>

      <div class="modal-body">
          <img src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}" class="center" style="width:450px;">
          <br>
          <p>We went through several brainstorming sessions where we discussed local problems that affected real people and real-life situations. Needs finding is a long and profound process. During these sessions we talked with our advisors as well as other researchers in our university.</p>
          <p>Some of the discussed topics were:</p>
          <dl class="row">
              <dt class="col-sm-4">Lindane detection with a biosensor</dt>
              <dd class="col-sm-8">A bioremediation approach to detect lindane insecticide levels in water so as to know if it is safe to be consumed by humans.</dd>
              <dt class="col-sm-4">Non-invasive early diagnosis of melanoma</dt>
              <dd class="col-sm-8">An approach contemplating the design of a microneedle array capable of detecting specific miRNA overexpressed in melanomas in the skin interstitial liquid.</dd>
              <dt class="col-sm-4">Phtalates detection with a biosensor</dt>
              <dd class="col-sm-8">Phtalates is a composite present in the air near industrial areas which is potentially damaging for the human body. The aim of this approach was to degrade phtalates into some innocuous molecules.</dd>
          </dl>
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal()">Close</button>
      </div>    
  </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal" id="modal3">
    <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h2 class="modal-title">Marc Güell Cargol</h2>
            <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">×</button>
        </div>

        <div class="modal-body">
            <img src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}" class="center" style="width:250px;">
            <br>
            <p>A researcher, the head of Translational Synthetic Biology laboratory in the Biomedical Research Park of Barcelona. He has been working on a variety of areas including mammalian genome editing, gene therapy and human skin microbiome engineering.</p>
            <p><b>Input:</b> He gave us some of the results of a study they did related to skin microbiome and Cutibacterium acnes bacteria. These results showed a list of some skin biomarkers, among them T3 hormone!</p>
            <p><b>Output:</b> From this, we continued investigating and came up with the idea of what our project is right now, but still there were many unsolved questions and some gaps we needed to fill. We could say that our first steps towards our final project started here. </p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal()">Close</button>
        </div>    
    </div>
    </div>
</div>
 
<!-- Modal 4 -->
<div class="modal" id="modal4">
    <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h2 class="modal-title">Final brainstorming session with advisors</h2>
            <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">×</button>
        </div>

        <div class="modal-body">
            <img src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}" class="center" style="width:350px;">
            <br>
            <p>On May 17th we had the final elections to decide the project we wanted to dedicate the whole summer to. We discussed the feasibility, advantages, disadvantages, limitations and applications of the topics that we would work on and learn.</p>
            <p><b>Output:</b> We finally balanced our preferences towards Hormonic because currently there is not much research on thyroid system problems. There was a society need and because our group, formed by biomedical engineering students, wanted to develop an innovative and groundbreaking approach to solve this problem we decided to center our project on thyroid homeostasis.
            </p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal()">Close</button>
        </div>    
    </div>
    </div>
</div>

<!-- Modal 5 -->
<div class="modal" id="modal5">
    <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h2 class="modal-title">Javier Macia Santamaria</h2>
            <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">×</button>
        </div>

        <div class="modal-body">
            <img src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}" class="center" style="width:350px;">
            <br>
            <p>The head of the laboratory of Synthetic Biology for Biomedical Applications, in the Biomedical Research Park of Barcelona. He has been currently working on the recovery of polluting waste through its transformation by various consortiums of microorganisms.</p>
            <p><b>Input:</b> He gave us the ideas of accomplishing an automated feedback system with a lactone circuit as a proof of concept.</p>
            <p><b>Output:</b> Our wetlab team focused on engineering E.Coli so that it could act as a biosensor to detect the amount of produced lactone. A second bacterial strain that produced lactone in a controlled manner was given to us by this lab.  </p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal()">Close</button>
        </div>    
    </div>
    </div>
</div>

<!-- Modal 6 -->
<div class="modal" id="modal6">
    <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h2 class="modal-title">Guillermo Nevot</h2>
            <button type="button" class="btn close" data-dismiss="modal" onclick="closeModal()">×</button>
            <button onclick="closeModal()">关闭</button>
        </div>

        <div class="modal-body">
            <img src="{{ url_for('static', filename = 'img/HP/Prof_Dabing.jpg') }}" class="center" style="width:300px;">
            <br>
            <p>Researcher, a PhD candidate at the Translational Synthetic Biology group in the Biomedical Research Park of Barcelona. He had previous experience on building a DIY turbidostat, an automated and continuous cell culture device. </p>
            <p><b>Input:</b> He gave us some tips and guidance to build out DIY turbidostat.</p>
            <p><b>Output:</b> Our drylab team focused on the design optimization of the electronic circuits and the self-regulation systems behind a turbidostat.</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal()">Close</button>
        </div>    
    </div>
    </div>
</div>

{% endblock %}
