{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block page_content %}

<div class="screen">
  <div id="title">
  <h1 class="heading">
    <span>M</span>
    <span>O</span>
    <span>D</span>
    <span>E</span>
    <span>L</span>
  </h1>
  </div>
  <div class="banner"><img src="https://static.igem.wiki/teams/4927/wiki/banner/model.png"></div>
</div>


{% endblock %}
