{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block page_content %}

<div class="screen">
  <div id="title">
  <h1 class="heading">
    <span>N</span>
    <span>O</span>
    <span>T</span>
    <span>E</span>
    <span>B</span>
    <span>O</span>
    <span>O</span>
    <span>K</span>
  </h1>
  </div>
  <div class="banner"><img src="https://static.igem.wiki/teams/4927/wiki/banner/notebook.png"></div>
</div>

<div class="note_card" id="note_card">
  <div class="note_container">
    <div class="note_explain">
      <img src="https://static.igem.wiki/teams/4927/wiki/notebook/engineering.png" alt="" style="width:100%">
      <p>
        This is a comprehensive collection of all of the meetings we have ever had, our activities, our successes and our failures. Follow us, 10
        undergraduates learning how to navigate the iGEM world, on
        our iGEM journey.<br><br>
        Please click on the months to open up into our monthly notebooks!
      </p>
    </div>
    <div class="note_left" id="note_left">
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4927/wiki/notebook/4.pdf">APRIL
      </a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4927/wiki/notebook/5.pdf">MAY</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4927/wiki/notebook/6.pdf">JUNE</a><a></a></p><a>
      <!-- <br> -->
      </a><p><a></a><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4927/wiki/notebook/7.pdf">JULY</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4927/wiki/notebook/8.pdf">AUGUST</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4927/wiki/notebook/september.pdf">SEPTEMBER</a></p>
      </div>
      <div class="note_right" id="note_right">
      <!-- <h1>Our Process</h1>
      <br>  -->
      <div class="process-wrapper">
        <div id="progress-bar-container">
          <ul>
            <li class="step step01 active"><div class="step-inner">Name and purpose</div></li>
            <li class="step step02"><div class="step-inner">Design and methods</div></li>
            <li class="step step03"><div class="step-inner">Results</div></li>
            <li class="step step04"><div class="step-inner">Data analysis</div></li>
            <li class="step step05"><div class="step-inner">Conclusion</div></li>
          </ul>
        
          <div id="line">
            <div id="line-progress"></div>
          </div>
        </div>
        <div id="progress-content-section">
          <div class="section-content discovery active">
            <h2>Experiment name and purpose</h2>
            <p>In recent years, a large number of studies have shown that hydrogen-rich water has a positive effect on plant growth. The team hopes to use synthetic biology to produce hydrogen-rich water for crop watering, replacing part of the fertilizer and reducing the amount of fertilizer, thereby protecting the soil and ecological environment.</p>
          </div>
        
          <div class="section-content strategy">
            <h2>Experimental design and methods</h2>
            <p>The team's experiments are divided into molecular cloning experiment and botanical experiment. Methanol dehydrogenase, formaldehyde dehydrogenase, formate dehydrogenase, hydrogenase and protein scaffold are obtained through molecular cloning experiment for the production of hydrogen-rich water. And the hydrogen-rich water was used in botany experiment to verify the botanical effect of hydrogen-rich water.</p>
          </div>
          <div class="section-content creative">
            <h2>Experimental results</h2>
            <p>The team successfully obtained 4 enzymes and successfully produced hydrogen-rich water in the liquid phase system through a cascade reaction of 4 enzymes</p>
          </div>
          
          <div class="section-content production">
            <h2>Data analysis</h2>
            <p>The team used a protein scaffold to combine the four enzymes to form a multi-enzyme complex to improve the hydrogen production efficiency of the entire system. Experimental verification showed that the hydrogen production efficiency of the hydrogen production system using the protein scaffold was 1.58 times higher than that of the free enzyme system and 24.8 times higher than that of the traditional biooptical hydrogen production.</p>
          </div>
          
          <div class="section-content analysis">
            <h2>Conclusion of the experiment</h2>
            <p>The preparation of hydrogen-rich water catalyzed by whole enzyme method using methanol as substrate provides a new idea for soil protection and fertilizer reduction, which is expected to be put into large-scale agricultural production in the future.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	
{% endblock %}
