{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block page_content %}

<div class="screen">
  <div id="title"><p>Notebook<p></div>
  <div class="banner"><img src="{{ url_for('static', filename = 'img/Description_cover1.png') }}"></div>
</div>

<div class="note_card" id="note_card">
  <h1 class="heading">
    <span>M</span>
    <span>O</span>
    <span>N</span>
    <span>T</span>
    <span>H</span>
    <span>L</span>
    <span>Y</span>
    <span>M</span>
    <span>E</span>
    <span>E</span>
    <span>T</span>
    <span>I</span>
    <span>N</span>
    <span>G</span>
  </h1>

  <div class="note_container">
    <div class="note_explain">
      <p>
        This is a comprehensive collection of all of the meetings we have ever had, our activities, our successes and our failures. Follow us, 10
        undergraduates learning how to navigate the iGEM world, on
        our iGEM journey.<br><br>
        Please click on the months to open up into our monthly notebooks!
      </p>
    </div>
    <div class="note_left" id="note_left">
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4927/wiki/notebook/20230702.pdf">APRIL
      </a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/may-final.pdf">MAY</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/june-final-compressed-1.pdf">JUNE</a><a></a></p><a>
      <!-- <br> -->
      </a><p><a></a><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/july-compressed.pdf">JULY</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/august.pdf">AUGUST</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/september.pdf">SEPTEMBER</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/october.pdf">OCTOBER</a></p>
      </div>
      <div class="note_right" id="note_right">
      <!-- <h1>Our Process</h1>
      <br>  -->
      <div class="process-wrapper">
        <div id="progress-bar-container">
          <ul>
            <li class="step step01 active"><div class="step-inner">Name and purpose</div></li>
            <li class="step step02"><div class="step-inner">Design and methods</div></li>
            <li class="step step03"><div class="step-inner">Results</div></li>
            <li class="step step04"><div class="step-inner">Data analysis</div></li>
            <li class="step step05"><div class="step-inner">Conclusion</div></li>
          </ul>
        
          <div id="line">
            <div id="line-progress"></div>
          </div>
        </div>
        <div id="progress-content-section">
          <div class="section-content discovery active">
            <h2>Experiment name and purpose</h2>
            <p>等待刘川同志上传</p>
          </div>
        
          <div class="section-content strategy">
            <h2>Experimental design and methods</h2>
            <p>等待刘川同志上传</p>
          </div>
          <div class="section-content creative">
            <h2>Experimental results</h2>
            <p>等待刘川同志上传</p>
          </div>
          
          <div class="section-content production">
            <h2>Data analysis</h2>
            <p>等待刘川同志上传</p>
          </div>
          
          <div class="section-content analysis">
            <h2>Conclusion of the experiment</h2>
            <p>等待刘川同志上传</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	
{% endblock %}
