{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block page_content %}

<div class="note_card" id="note_card">
  <h1 class="heading">
    <span>M</span>
    <span>O</span>
    <span>N</span>
    <span>T</span>
    <span>H</span>
    <span>L</span>
    <span>Y</span>
    <span>M</span>
    <span>E</span>
    <span>E</span>
    <span>T</span>
    <span>I</span>
    <span>N</span>
    <span>G</span>
  </h1>

  <div class="note_container">
    <div class="note_explain">
      <p>
        This is a comprehensive collection of all of the meetings we have ever had, our activities, our successes and our failures. Follow us, 10
        undergraduates learning how to navigate the iGEM world, on
        our iGEM journey.<br><br>
        Please click on the months to open up into our monthly notebooks!
      </p>
    </div>
    <div class="note_left" id="note_left">
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/april-final-compressed.pdf">APRIL
      </a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/may-final.pdf">MAY</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/june-final-compressed-1.pdf">JUNE</a><a></a></p><a>
      <!-- <br> -->
      </a><p><a></a><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/july-compressed.pdf">JULY</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/august.pdf">AUGUST</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/september.pdf">SEPTEMBER</a></p>
      <!-- <br> -->
      <p><a class="change-btn partnership-btn first" href="https://static.igem.wiki/teams/4429/wiki/notebook/october.pdf">OCTOBER</a></p>
      </div>
      <div class="note_right" id="note_right">
      <!-- <h1>Our Process</h1>
      <br>  -->
      <div class="process-wrapper">
        <div id="progress-bar-container">
          <ul>
            <li class="step step01 active"><div class="step-inner">HOME WORK</div></li>
            <li class="step step02"><div class="step-inner">RESPONSIVE PART</div></li>
            <li class="step step03"><div class="step-inner">OUR LOCATIONS</div></li>
            <li class="step step04"><div class="step-inner">TESTIMONIALS PART</div></li>
            <li class="step step05"><div class="step-inner">OUR LOCATIONS</div></li>
          </ul>
        
          <div id="line">
            <div id="line-progress"></div>
          </div>
        </div>
        <div id="progress-content-section">
          <div class="section-content discovery active">
            <h2>HOME SECTION</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque justo, consequat non fermentum ac, tempor eu turpis. Proin nulla eros, placerat non ipsum ut, dapibus ullamcorper ex. Nulla in dapibus lorem. Suspendisse vitae velit ac ante consequat placerat ut sed eros. Nullam porttitor mattis mi, id fringilla ex consequat eu. Praesent pulvinar tincidunt leo et condimentum. Maecenas volutpat turpis at felis egestas malesuada. Phasellus sem odio, venenatis at ex a, lacinia suscipit orci.</p>
          </div>
        
          <div class="section-content strategy">
            <h2>GALLERY SECTION</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque justo, consequat non fermentum ac, tempor eu turpis. Proin nulla eros, placerat non ipsum ut, dapibus ullamcorper ex. Nulla in dapibus lorem. Suspendisse vitae velit ac ante consequat placerat ut sed eros. Nullam porttitor mattis mi, id fringilla ex consequat eu. Praesent pulvinar tincidunt leo et condimentum. Maecenas volutpat turpis at felis egestas malesuada. Phasellus sem odio, venenatis at ex a, lacinia suscipit orci.</p>
          </div>
          <div class="section-content creative">
            <h2>Creative CREATIONS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque justo, consequat non fermentum ac, tempor eu turpis. Proin nulla eros, placerat non ipsum ut, dapibus ullamcorper ex. Nulla in dapibus lorem. Suspendisse vitae velit ac ante consequat placerat ut sed eros. Nullam porttitor mattis mi, id fringilla ex consequat eu. Praesent pulvinar tincidunt leo et condimentum. Maecenas volutpat turpis at felis egestas malesuada. Phasellus sem odio, venenatis at ex a, lacinia suscipit orci.</p>
          </div>
          
          <div class="section-content production">
            <h2>TESTIMONIALS NOW</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque justo, consequat non fermentum ac, tempor eu turpis. Proin nulla eros, placerat non ipsum ut, dapibus ullamcorper ex. Nulla in dapibus lorem. Suspendisse vitae velit ac ante consequat placerat ut sed eros. Nullam porttitor mattis mi, id fringilla ex consequat eu. Praesent pulvinar tincidunt leo et condimentum. Maecenas volutpat turpis at felis egestas malesuada. Phasellus sem odio, venenatis at ex a, lacinia suscipit orci.</p>
          </div>
          
          <div class="section-content analysis">
            <h2>OUR LOCATIONS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque justo, consequat non fermentum ac, tempor eu turpis. Proin nulla eros, placerat non ipsum ut, dapibus ullamcorper ex. Nulla in dapibus lorem. Suspendisse vitae velit ac ante consequat placerat ut sed eros. Nullam porttitor mattis mi, id fringilla ex consequat eu. Praesent pulvinar tincidunt leo et condimentum. Maecenas volutpat turpis at felis egestas malesuada. Phasellus sem odio, venenatis at ex a, lacinia suscipit orci.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	
{% endblock %}
