{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}

<div class="screen">
  <div id="title">
  <h1 class="heading">
    <span>S</span>
    <span>A</span>
    <span>F</span>
    <span>E</span>
    <span>T</span>
    <span>Y</span>
  </h1>
  </div>
  <div class="banner"><img src="https://static.igem.wiki/teams/4927/wiki/banner/safety1.png"></div>
</div>


<div class="article-container">
  <div class="directory">
    <div id="category">
      <div class="article-content"><h2>Content</h2></div>
      <ul>
      </ul>
    </div>
  </div>
  <div class="article-content">
            <!-- <h1>Safety</h1> -->
    <div data-tab="districtName1" class="districtName">
      <img src="https://static.igem.wiki/teams/4927/wiki/safety/safety-quation.png" alt="">
      <section class="markdown">
        <h2 class="data-tab">1. Project safety</h2>
        <p>
          &nbsp&nbsp&nbsp&nbsp Using synthetic biology methods, the team aims to prepare hydrogen-rich water for plant irrigation. In the production process, we produce target proteins through engineered bacteria, which are subsequently cell-disrupted to obtain the desired enzymes. Subsequently, we used methanol as a substrate to produce hydrogen-rich water through the catalysis of four enzymes. Eventually, we use hydrogen-rich water for plant irrigation. The entire process ensures that microorganisms are not released into the environment, while team members strictly follow appropriate safety measures to ensure the safety of operators.
        </p>
        <img src="https://static.igem.wiki/teams/4927/wiki/education/global-nitrogen-fertilizer-use.png" alt="">
        <p class="figure">Figure 1: Experimental procedure</p>
      </section>
    </div>
    <div data-tab="districtName2" class="districtName">
      <h2 class="data-tab">2. laboratory safety</h2>
      <section class="markdown api-container">
        <p>
                        &nbsp&nbsp&nbsp&nbsp Our influence is ultimately limited, even if we provide a wonderful science education for a village, but China is so vast, the world is even wider. In order to achieve the broadest influence and the best effect of popular science education, we decided to use the network platform to spread our popular science education.We have recorded a number of podcasts about scientific fertilization for farmers and uploaded them to online media for all social groups to listen to. According to the feedback, our podcasts are very popular, and some netizens are urging us to update them as soon as possible so that we can learn more about scientific fertilization.
                    </p>
        <img src="" alt="">
        <p class="figure">
          Figure 2: Laboratory Specification Operations
        </p>
        <img src="" alt="">
        <p class="figure">
          Figure 3: Independent gel electrophoresis space
        </p>
        <img src="" alt="">
        <p class="figure">
          Figure 4: Fire extinguishers configured in the laboratory
        </p>
      </section>
    </div>
    <div data-tab="districtName3" class=" districtName">
      <h2 class="data-tab">3. Security Policy</h2>
      <div>
        <p>
            &nbsp&nbsp&nbsp&nbsp The team members strictly follow the safety regulations of the IGEM competition, adhere to the safety guidelines in the laboratory, and comply with national biosafety regulations. As a result, the project adheres to high safety standards throughout its process, ensuring that its safety is fully guaranteed.
        </p>
        <div class="accordion-body">
            <div class="accordion">
              <h1>Append of safety</h1>
              <hr>
              <div class="append_container">
                <div class="label">Append1</div>
                <div class="append_content">
                  <object data="https://static.igem.wiki/teams/4927/wiki/safety/safety1.pdf" type="application/pdf" width="100%" height="600">
                  </object>
                </div>
              </div>
              <hr>
              <div class="append_container">
                <div class="label">Append2</div>
                <div class="append_content">
                  <object data="https://static.igem.wiki/teams/4927/wiki/safety/safety2.pdf" type="application/pdf" width="100%" height="600">
                  </object>
                </div>
              </div>
              <hr>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
