{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}

<div class="screen">
  <div class="banner"><img src="https://static.igem.wiki/teams/4927/wiki/headline/safety.jpg"></div>
</div>

<div class="content" id="article">
  <div class="content_left" id="content_left">
    <div class="title">
      <h1><strong>CONTENT</strong></h1>
    </div>
    <div class="list" id="list">
      <ul class="stickybar">
        <li><a href="#1"><u>1.liu</u></a></li>
        <li><a href="#2"><u>2.chuan</u></a></li>
        <li><a href="#3"><u>3.jia</u></a></li>
        <li><a href="#4"><u>4.you</u></a></li>
        <li><a href="#5"><strong><u>！</u></strong></a></li>
      </ul>
    </div>
  </div>
  <div class="content_right">
    <div class="post-title">
      <p><strong>Safety</strong></p>
      </div>
    <div class="article">

      <div class="content_main">
        <h2 id="1">1.刘</h2>
        <p>快点写🙂</p>
        <h2 id="2">2.川</h2>
        <p>快点写🙂</p>
        <h2 id="3">3.加</h2>
        <p>快点写🙂</p>
        <h2 id="4">4.油</h2>
        <p>快点写🙂</p>
        <h2 id="5">吧</h2>
        <p>[1] 快点写🙂</p>
        <p>[2] 快点写🙂</p>
      </div>
    </div>
  </div>
</div>	

{% endblock %}
