body,ul,li,a{
    margin: 0px;
    padding: 0px;
    list-style:none;
    text-decoration: none;				
}/*取消所有表格的格式*/
body{
    background-color: #ffffff;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;/*防止导航栏覆盖*/
}
.banner{
    margin-top: -120px;
}
.banner img{
    width: 100%;
    background-size: cover;/*应该是覆盖整个容器*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content{
	width: 80%;
	margin: 0px auto;
	/* display: flex; */
	justify-content: space-evenly;
    margin-right: auto;
}

.content_left{
    position: sticky;
    margin-top: 30px;
    float:left;
    width: 16.7%;
}
.stickybar{
    box-sizing: border-box;
    position: sticky;
    margin: 0px;
    padding: 10px;
    top: 400px;
}
.stickybar a {
    color: var(--darkBlue);
    text-decoration: none;
    font-family: 'hammersmith_oneregular';
    font-size: 1.2rem;
  }
  
.stickybar a:hover {
    text-decoration: underline;
}

.stickybar a:active {
    text-decoration: underline;
}
u{
    border-color: rgb(0, 166, 255);
}

.content_right{
    width: 83.3%;
    margin-left: 20px;
}
#list>ul>li>a{
    line-height:1.8em;
	font-size: 1.4em;
}
.content_main>h2{
    line-height:2.2em;
	font-size: 1.8em;
}
.content_main>p{
    line-height:1.8em;
	font-size: 1.4em;
}
.content_left.sticky {
  position: sticky;
  top: 100px;
}
.article{
	flex: 0 0 auto;/*解决高度变形问题*/
	/* width: 950px; */
	overflow-y: none;
	/* margin-left: 20px; */
}
.post-title>p{
    font-size: 2.8em;
    line-height:3em;
    /* margin-left: 20px; */
}

/*pad端*/
/* @media screen and (max-width:960px) and (min-width:750px){
    .banner>img{
        transform: scale(1)!important;
    }
    .content{
        width: 100%;
    }
} */
@media screen and (max-width:960px){
    .banner>img{
        transform: scale(1)!important;
    }
    .content{
        width: 100%;
    }
    .content h2{
        margin: 0;
    }
}
