body,ul,li,a{
    margin: 0px;
    padding: 0px;
    list-style:none;
    text-decoration: none;				
}/*取消所有表格的格式*/
body{
    background-color: #ffffff;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;/*防止导航栏覆盖*/
}

.screen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    margin-top: -120px;
}
.banner img{
    width: 100%;
    background-size: cover;/*应该是覆盖整个容器*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content{
	width: 80%;
	margin: 0px auto;
	/* display: flex; */
	justify-content: space-evenly;
    margin-right: auto;
    flex-wrap: wrap;
}

.content_left{
    position: sticky;
    float:left;
    width: 16.7%;

}
.stickybar{
    box-sizing: border-box;
    position: sticky;
    margin: 0px;
    padding: 10px;
    top: 400px;
}
.stickybar a {
    color: var(--darkBlue);
    text-decoration: none;
    font-family: 'hammersmith_oneregular';
    font-size: 1.2rem;
  }
  
.stickybar a:hover {
    text-decoration: underline;
}

.stickybar a:active {
    text-decoration: underline;
}
u{
    border-color: rgb(0, 166, 255);
}
.content_right{
    width: 83.3%;
    margin-left: 20px;
    /* float: right; */
    /* margin-top: -285px; */
}
#list>ul>li>a{
    line-height:1.8em;
	font-size: 1em;
}
.content_main>p{
    line-height:1.8em;
	font-size: 1em;
}
.content_left.sticky {
  position: sticky;
  top: 100px;
}
.article{
	flex: 0 0 auto;/*解决高度变形问题*/
	overflow-y: none;
}
.post-title>p{
    font-size: 2.8em;
    /* margin-left: 20px; */
}
/*pad端*/
/* @media screen and (max-width:960px) and (min-width:750px){

} */
