body,ul,li,a{
    margin: 0px;
    padding: 0px;
    list-style:none;
    text-decoration: none;				
}/*取消所有表格的格式*/
body{
    background-color: #ffffff;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;/*防止导航栏覆盖*/
}

.screen{
    /* margin-top: -60px; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-flow: column;
  position: relative;
  z-index: 0;
  padding:2rem 9%; */
  margin-top: -60px;
}

#title{
    position: absolute;
    margin-top:10vh;
    width: 100%;
}
#title>p{
    font-size: 10em;
    color: #fff;
    /*background: rgba(0, 0, 0, 0.526);*/
    font-family: "Microsoft YaHei";
    font-weight:bolder;
    position: relative;
    text-align: center;
}
/*header::before*/
.banner img{
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-image: url(../img/Description_cover1.png); */
    /* background-size: cover;应该是覆盖整个容器 */
    object-fit: cover;
    z-index: -1;
    /* clip: rect(25px 0px 5px 0px); */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*核心实现视差效果*/
    transform: translateZ(-1px);
}

/* .banner img{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
} */
.content{
    position: relative;
	width: 80%;
	margin: 0px auto;
	justify-content: space-evenly;
    margin-right: auto;
	margin-top: -15vh;
}

.content_left{
    position: sticky;
    /* margin: 0px;
    padding: 10px; */
    /* top: vh; */
    /*flex: 0 0 auto; */
    float:left;
    width: 16.7%;
    /* padding:10px 0; */
    /* margin: 16px 0px!important; */

}
.stickybar{
    box-sizing: border-box;
    position: sticky;
    margin: 0px;
    padding: 10px;
    top: 400px;
}
.stickybar a {
    color: var(--darkBlue);
    text-decoration: none;
    font-family: 'hammersmith_oneregular';
    font-size: 1.2rem;
  }
  
.stickybar a:hover {
    text-decoration: underline;
}

.stickybar a:active {
    text-decoration: underline;
}
u{
    border-color: rgb(0, 166, 255);
}
  
/* .content_left{
    position: sticky;
    /* margin: 0px;
    padding: 10px; 
    top: 200px;
} */
/* .sticky-div {
    position: sticky;
    top: 1000px;
} */
.content_right{
    /* margin-top: -25px; */
    width: 83.3%;
    margin-left: 20px;
    /* margin-left: auto; */
}

#list>ul>li>a{
    line-height:24px;
	font-size: 14px;
}
.content_main>h2{
	line-height:36px;
	font-size: 24px;
	/* padding:10px 0; */
	/* left: -20px; */
	/* css注释： 设置行高为50px */ 	
}
.content_main>p{
	line-height:28px;
	font-size: 16px;
	/* padding:10px 0; */
	/* left: -20px; */
	/* css注释： 设置行高为50px */ 	
}
.content_left.sticky {
  position: sticky;
  top: 100px;
}
.article{
	flex: 0 0 auto;/*解决高度变形问题*/
	/* width: 950px; */
	overflow-y: scroll;
	/* margin-left: 20px; */
}
.post-title>p{
    font-size: 36px;
    /* margin-left: 20px; */
}
/*pad端*/
/* @media screen and (max-width:960px) and (min-width:750px){

} */
